<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メンバー登録完了</title>
</head>
<body>
  <p>メンバー登録完了</p>
  <a href="/login">ログインする</a>
  
</body>
</html>