<header>
  <div class="header-nav">
    <p>ようこそ、<%= locals.penname %>さん</p>
    <ul>
      <li><a href="/postlist">投句一覧</a></li>
      <li><a href="/logout">ログアウト</a></li>
    </ul>
  </div>
  <p>連句アプリ「うたまき」</p>

</header>